<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Getting Started: Serving Web Content</title>
    <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="webjars/jquery/2.1.3/jquery.min.js"></script>
    <script>
        // <![CDATA[
        var addNRremove = ' <a href="#" title="Add child expense type">[+]</a> <a href="#" title="Remove this expense type">[-]</a>';

        function addNode(node) {
            var nextId = calculateId();
            var nodeId = node.id;
            var ul = getChildUl(node);
            $(ul).append("<li id='"+ nextId +"' class='" + nodeId + "'>NewNode" + nextId + addNRremove + "</li>")
            console.log("created node on parent: " + nodeId + " with Id: " + nextId);
        }

        function getChildUl(liNode) {
            var ul = $(liNode).find("ul").get(0);
            if (ul != null) {
                return ul;
            }
            console.log($(liNode).append("<ul></ul>"));
            return $(liNode).find("ul").get(0);
        }

        function calculateId() {
            var nextId = 1;
            var divRoot = $( "div.root" );
            var liDivRoot = $(divRoot).find("li").get();
            $(liDivRoot).each(function( key, li ) {
                        if (nextId <= li.id) {
                            nextId = Number(li.id) + 1;
                        }
                    }
            );
            console.log("next Id: " + nextId);
            return nextId;
        }

        $(document).ready(function(){
            var divRoot = $( "div.root" )
            var liDivRoot = $(divRoot).find("li").get();
            var ul;
            $(divRoot).empty();
            $.each( $(liDivRoot), function( key, value ) {
                $(value).append(addNRremove);
                if ( value.className == "0" ) {
                    ul = getChildUl(divRoot);
                    $(ul).append(value);
                } else {
                    var parent = $(divRoot).find("#" + value.className).get(0);
                    ul = getChildUl(parent);
                    $(ul).append(value);
                }
            });

            $(document).on("click", "a", function() {
                console.log("-----start adding node-----");
                addNode(this.parentElement);
            });

            calculateId();
        });
        // ]]>
    </script>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="expenseslist" th:unless="${#lists.isEmpty(allExpensesTypes)}">
        <h2>List of expenses types</h2>
        <div class="root">
            <ul>
                <li th:each="expenses,iterationStatus : ${allExpensesTypes}" th:id="${expenses.id}" th:class="${expenses.heritage}"
                    th:text="${expenses.expenseDescription}">description</li>
            </ul>
        </div>
    </div>
</body>
</html>