<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Getting Started: Serving Web Content</title>
    <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="webjars/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var divRoot = $( "div.root" )
            var liDivRoot = $(divRoot).find("li").get();
            $(divRoot).empty();
            $.each( $(liDivRoot), function( key, value ) {
                if ( value.className == "0" ) {
                    var ulPresent = $(divRoot).find("ul").get(0);
                    if (ulPresent != null) {
                        $(ulPresent).append(value);
                    } else {
                        $(divRoot).append("<ul>" + value.outerHTML + "</ul>");
                    }
                } else {
                    var parent = $(divRoot).find("#" + value.className).get(0);
                    ulPresent = $(parent).find("ul").get();
                    if (ulPresent.length > 0) {
                        //BOGUS this can be out of orther and originate a bug.
                        var brother = $(ulPresent).get(0);
                        $(brother).append(value);
                    } else {
                        $(parent).append("<ul>" + value.outerHTML + "</ul>")
                    }
                }
            });
        });
    </script>
</head>
<body>
    <div class="expenseslist" th:unless="${#lists.isEmpty(allExpensesTypes)}">
        <h2>List of expenses types</h2>
        <div class="root">
            <ul>
                <li th:each="expenses,iterationStatus : ${allExpensesTypes}" th:id="${expenses.id}" th:class="${expenses.heritage}"
                    th:text="${expenses.expenseDescription}">description</li>
            </ul>
        </div>
    </div>
</body>
</html>